<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8" />

        <title>{{title}}</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta http-equiv="cleartype" content="on">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <meta name="apple-mobile-web-app-title" content="{{title}}">
		<meta name="description" content="{{description}}" />
		<meta property="og:title" content="{{title}}" />
		<meta property="og:description" content="{{description}}" />
		<meta property="og:image" content="[insert image path here]" />

        <!--[if ! lte IE 8]><!-->
            <link rel="stylesheet" media="not print" href="_/css/app.css" />
        <!--<![endif]-->

        <!--[if lte IE 8]>
            <link rel="stylesheet" media="screen" href="_/css/legacy.css" />
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        <script src="_/js/libs/modernizr.js"></script>

        <link rel="shortcut icon" href="_/images/icons/favicon.ico" />
        <link rel="apple-touch-icon" href="_/images/icons/apple-touch-icon.png" />
        <link rel="apple-touch-icon-precomposed" href="_/images/icons/apple-touch-icon.png" />

    </head>

    <body>
    
    	<div id="outer-wrap" class="outer-wrap">
				
			<div id="inner-wrap" class="inner-wrap">
			
				<a href="#maincontent" class="jump-link" tabindex=1>Jump to Content</a>
    
		    	<header role="banner">
		    	
		    		<div class="cf wrap">
		    				
					    {{> primary_nav }}
						
		    		</div>
            
		    		<a name="maincontent"></a>
            
					{{> body }}
		        
		        {{> footer }}
				
			</div>
			
		</div>
        
        <script>
			(function () {
				var js;
				if (typeof JSON !== 'undefined' && 'querySelector' in document && 'addEventListener' in window) {
					js = '//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js';
				} else {
					js = '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js';
				}
				document.write('<script src="' + js + '"><\/script>');
			}());
		</script>
        
        <script src="_/js/app.js"></script>

        <script src="_/js/libs/jquery.fitvids.js"></script>

		<script>
		    $("body").fitVids();
		</script>
                
    </body>

</html>